.contactbtn {
  padding: 1%;
  border: none;
  background-color: #fd7d08;
  font-size: medium;
  font-weight: bold;
  color: white;
  width: 15%;
  border-radius: 20px;
  margin-top: 2%;
}
.contactbtn:hover {
  cursor: pointer;
  opacity: 0.9;
}
